<div class="section" id="about">
  <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                      <div class="h4 mt-0 title">About Me</div>
                          <p align="justify">{{personne[0]?.objectif  }}.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                      <div class="h4 mt-0 title">Basic Information</div>
                      <div class="row">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Name :</strong>
                          </div>
                          <div class="col-sm-8"> {{personne[0]?.firstname  }} </div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Email:</strong>
                          </div>
                          <div class="col-sm-8"> {{personne[0]?.email  }}   </div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Mobile No:</strong>
                          </div>
                          <div class="col-sm-8">{{personne[0]?.phone  }}</div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">{{personne[0]?.adress  }}</strong>
                          </div>
                      </div>





                   </div>
              </div>
          </div>
      </div>
  </div>
</div>

