
<div class="section" id="skill">
  <div class="container py-2 cc-skill">
      <div class="h4 text-center mb-4 title">Skills</div>
              <div class="row" *ngFor="let skill of personne[0]?.skill "   >
                  <ul class="timeline">
                      <li>
                          <div class="timeline-badge up bg-green">
                              <i class="fa fa-thumbs-up"></i>
                          </div>
                          <div class="timeline-panel">
                              <div class="row">
                                  <div class="col-lg-6 ">
                                      <div class="h5 mt-0 title">{{skill?.name}}</div>
                                      <div class="h6 mt-0 title">{{skill?.level}}</div>

                                  </div>
                                </div>
                          </div>
                      </li>

                  </ul>
              </div>
  </div>
</div>
