<!-- un formulaire pour un cv  -->

<div class="container">
  <div class="row">
    <form #f="ngForm">
      <div class="">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Create your CV!!!</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 my-2">
                <label for="firstname">Prénom <span class="blue">*</span></label>
                <input ngModel id="firstname" type="text" name="firstname" class="form-control"
                  placeholder="Votre prénom" value="" required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6 my-2">
                <label for="name">Nom <span class="blue">*</span></label>
                <input ngModel id="name" type="text" name="name" class="form-control" placeholder="Votre nom" value=""
                  required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6 my-2">
                <label for="email">Email <span class="blue">*</span></label>
                <input ngModel id="email" type="email" name="email" class="form-control" placeholder="Votre email"
                  value="" required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6 my-2">
                <label for="phone">Téléphone</label>
                <input ngModel id="phone" type="tel" name="phone" class="form-control" placeholder="Votre téléphone"
                  value="">
                <p class="comments"></p>
              </div>
              <!-- adress  -->
              <div class="col-md-12 my-2">
                <label for="adress">Adresse</label>
                <input ngModel id="adress" type="text" name="adress" class="form-control" placeholder="Votre adresse"
                  value="">
                <p class="comments"></p>
              </div>

              <div class="col-md-12 my-2">
                <label for="objectif">Objectif</label>
                <textarea ngModel id="objectif" name="objectif" class="form-control"
                  placeholder="Votre objectif" rows="4"></textarea>
              </div>


              <!-- experience -->
              <div class="col-md-12 my-2 border rounded py-3">
                <div *ngFor="let experience of experiences ;let index = index; let isLast = last; let isOdd = odd;" >
                  <ul >
                    <li>{{experience?.title}}</li>
                    <li>{{experience.place}}</li>
                    <li>{{experience.startDate | date: 'dd/MM/yyyy'}}----{{experience.endDate | date: 'dd/MM/yyyy'}}
                    </li>
                    <li>{{experience.description}}</li>
                    <button type="button" (click)="deleteExperience(index)" class="btn  my-1 btn-danger btn-sm text-end">Delete</button>
                    <hr *ngIf="!isLast">
                  </ul>
                </div>
                <div class="col-md-12 my-2 border rounded py-3">
                  <label for="title">title</label>
                  <input [(ngModel)]="experienceForm.title" id="title" type="text" name="title" class="form-control"
                    placeholder="Votre title" value="">
                  <label for="place">Place</label>
                  <input [(ngModel)]="experienceForm.place" id="place" type="text" name="place" class="form-control"
                    placeholder="Votre place" value="">
                  <label for="startDate">Start Date</label>
                  <input [(ngModel)]="experienceForm.startDate" id="startDate" type="date" name="startDate"
                    class="form-control" placeholder="Votre startDate" value="">
                  <label for="endDate">End Date</label>
                  <input [(ngModel)]="experienceForm.endDate" id="endDate" type="date" name="endDate"
                    class="form-control" placeholder="Votre endDate" value="">
                  <label for="description">Description</label>
                  <textarea [(ngModel)]="experienceForm.description" id="description" name="description"
                    class="form-control" placeholder="Votre description" rows="4"></textarea>
                  <button type="button" (click)="this.addExperience()" class="btn  my-1 btn-primary btn-sm text-end">Add</button>
                </div>



              </div>


              <!-- description -->
              <div class="col-md-12 my-2">
                <label for="description">Description</label>
                <textarea ngModel id="description" name="description" class="form-control"
                  placeholder="Votre description" rows="4"></textarea>

              </div>
              <!-- bouton submit -->
              <div class="col-md-12 my-2">
                <button type="submit" (click)="onSubmit(f)" class="btn btn-primary pull-right" id="btnContactUs">
                  Envoyer
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <button type="button" (click)="serv()" class="btn btn-primary">taketo exper</button>
  </div>
</div>
