<!-- formulaire portfolio -->
<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create your portfolio</h4>
        </div>
        <div class="card-body">
          <form id="contact-form" method="POST" action="contact.php" role="form">
            <div class="row">
              <div class="col-md-6">
                <label for="firstname">Prénom <span class="blue">*</span></label>
                <input id="firstname" type="text" name="firstname" class="form-control" placeholder="Votre prénom" value="" required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6">
                <label for="name">Nom <span class="blue">*</span></label>
                <input id="name" type="text" name="name" class="form-control" placeholder="Votre nom" value="" required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6">
                <label for="email">Email <span class="blue">*</span></label>
                <input id="email" type="email" name="email" class="form-control" placeholder="Votre email" value="" required>
                <p class="comments"></p>
              </div>
              <div class="col-md-6">
                <label for="phone">Téléphone</label>
                <input id="phone" type="tel" name="phone" class="form-control" placeholder="Votre téléphone" value="">
                <p class="comments"></p>
              </div>
              <!-- adress  -->
              <div class="col-md-12">
                <label for="adress">Adresse</label>
                <input id="adress" type="text" name="adress" class="form-control" placeholder="Votre adresse" value="">
                <p class="comments"></p>
              </div>
              <!-- image  -->
              <div class="col-md-12">
                <label for="image">Image</label>
                <input id="image" type="file" name="image" class="form-control" placeholder="Votre image" value="">
                <p class="comments"></p>
              </div>
             <!-- experience -->
              <div class="col-md-12">
                <label for="experience">Expérience</label>
                <select id="experience" name="experience" class="form-control" required>
                  <option value="0-2 ans">0-2 ans</option>
                  <option value="2-5 ans">2-5 ans</option>
                  <option value="5-10 ans">5-10 ans</option>
                  <option value="10-20 ans">10-20 ans</option>
                  <option value="20-30 ans">20-30 ans</option>
                  <option value="30-40 ans">30-40 ans</option>
                  <option value="40-50 ans">40-50 ans</option>
                  <option value="50-60 ans">50-60 ans</option>
                  <option value="60-70 ans">60-70 ans</option>
                  <option value="70-80 ans">70-80 ans</option>
                  <option value="80-90 ans">80-90 ans</option>
                  <option value="90-100 ans">90-100 ans</option>
                  <option value="100-110 ans">100-110 ans</option>
                  <option value="110-120 ans">110-120 ans</option>
                  <option value="120-130 ans">120-130 ans</option>
                  <option value="130-140 ans">130-140 ans</option>
                  <option value="140-150 ans">140-150 ans</option>
                  <option value="150-160 ans">150-160 ans</option>
                  <option value="160-170 ans">160-170 ans</option>
                  <option value="170-180 ans">170-180 ans</option>
                  <option value="180-190 ans">180-190 ans</option>
                  <option value="190-200 ans">190-200 ans</option>
                  <option value="200-210 ans">200-210 ans</option>
                  <option value="210-220 ans">210-220 ans</option>
                  <option value="220-230 ans">220-230 ans</option>
                  <option value="230-240 ans">230-240 ans</option>
                  <option value="240-250 ans">240-250 ans</option>
                  </select>
                <p class="comments"></p>
              </div>
              <!-- project  -->
              <div class="col-md-12">
                <label for="project">Projet</label>
                <select id="project" name="project" class="form-control" required>
                  <option value="Site web">Site web</option>
                  <option value="Application web">Application web</option>
                  <option value="Application mobile">Application mobile</option>
                  <option value="Application desktop">Application desktop</option>
                  <option value="Autre">Autre</option>
                </select>
                <p class="comments"></p>
              </div>
              <!-- education  -->
              <div class="col-md-12">
                <label for="education">Formation</label>
                <select id="education" name="education" class="form-control" required>
                  <option value="Bac">Bac</option>
                  <option value="Bac+2">Bac+2</option>
                  <option value="Bac+3">Bac+3</option>
                  <option value="Bac+4">Bac+4</option>
                  <option value="Bac+5">Bac+5</option>
                  <option value="Bac+6">Bac+6</option>
                  <option value="Bac+7">Bac+7</option>
                  <option value="Bac+8">Bac+8</option>
                  <option value="Bac+9">Bac+9</option>
                  <option value="Bac+10">Bac+10</option>
                  <option value="Bac+11">Bac+11</option>
                  <option value="Bac+12">Bac+12</option>
                  <option value="Bac+13">Bac+13</option>
                  <option value="Bac+14">Bac+14</option>
                  <option value="Bac+15">Bac+15</option>
                  <option value="Bac+16">Bac+16</option>
                  <option value="Bac+17">Bac+17</option>
                  <option value="Bac+18">Bac+18</option>
                  <option value="Bac+19">Bac+19</option>
                  <option value="Bac+20">Bac+20</option>
                  <option value="Bac+21">Bac+21</option>
                  <option value="Bac+22">Bac+22</option>
                  <option value="Bac+23">Bac+23</option>
                  <option value="Bac+24">Bac+24</option>
                  <option value="Bac+25">Bac+25</option>
                  <option value="Bac+26">Bac+26</option>
                  <option value="Bac+27">Bac+27</option>
                  <option value="Bac+28">Bac+28</option>
                  </select>
                <p class="comments"></p>
              </div>
<!-- skills  -->
              <div class="col-md-12">
                <label for="skills">Compétences</label>
                <select id="skills" name="skills" class="form-control" required>
                  <option value="HTML">HTML</option>
                  <option value="CSS">CSS</option>
                  <option value="PHP">PHP</option>
                  <option value="JavaScript">JavaScript</option>
                  <option value="SQL">SQL</option>
                  <option value="C">C</option>
                  <option value="C++">C++</option>
                  <option value="C#">C#</option>
                  <option value="Java">Java</option>
                  <option value="Python">Python</option>
                  <option value="Ruby">Ruby</option>
                  <option value="Swift">Swift</option>
                  <option value="Objective-C">Objective-C</option>
                  <option value="Perl">Perl</option>
                  <option value="Scala">Scala</option>
                  <option value="R">R</option>
                  <option value="Go">Go</option>
                  <option value="Visual Basic">Visual Basic</option>
                  <option value="Delphi">Delphi</option>
                  <option value="Assembly">Assembly</option>
                  <option value="Pascal">Pascal</option>
                  <option value="Lisp">Lisp</option>
                  <option value="Ada">Ada</option>
                  <option value="Fortran">Fortran</option>
                  <option value="Bash">Bash</option>
                  <option value="Shell">Shell</option>
                  <option value="ActionScript">ActionScript</option>
                  <option value="Dart">Dart</option>
                  <option value="Kotlin">Kotlin</option>
                  <option value="TypeScript">TypeScript</option>
                  <option value="Rust">Rust</option>
                  <option value="Haskell">Haskell</option>
                  <option value="Erlang">Erlang</option>
                  <option value="Lua">Lua</option>
                  <option value="Clojure">Clojure</option>
                  <option value="Groovy">Groovy</option>
                  <option value="Julia">Julia</option>
                  <option value="Ada">Ada</option>
                  </select>
                <p class="comments"></p>
              </div>


              <div class="col-md-12">
                <p class="blue"><strong>* Ces informations sont requises.</strong></p>
              </div>
              <div class="col-md-12">
                <button class="btnbtn-outline-primary"  > Generate</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>






