<!-- <button class="btn btn-primary" (click)="download()">Download</button>


<div class="card">
  <img src="#" alt="" class="card-img-top">

  <div class="card-body">
    <h5 class="card-title">{{personne[0]?.firstname  }}  </h5>
    <p class="card-text">{{personne[0]?.lastname  }}</p>
    <p class="card-text">{{personne[0]?.email  }}</p>
    <p class="card-text">{{personne[0]?.phone  }}</p>
    <p class="card-text">{{personne[0]?.adress  }}</p>
    <div *ngFor="let experience of personne[0]?.experience ;let index = index; let isLast = last; let isOdd = odd;" >
      <ul>
        <li>{{experience?.title}}</li>
        <li>{{experience.place}}</li>
        <li>{{experience.startDate | date: 'dd/MM/yyyy'}}----{{experience.endDate | date: 'dd/MM/yyyy'}}
        </li>
        <li>{{experience.description}}</li>
        <hr *ngIf="!isLast">
      </ul>
    </div> -->
    <!-- <p class="card-text">{{personne[0].experience[0]?.title}}</p> -->

    <div class="card" id="page">
      <div class="photo-and-name">
          <img src="profile.png" class="photo" alt="Profile Picture">
          <div class="contact-info-box  "  >
              <h1 class="name">{{personne[0]?.firstname  }} </h1>
              <h2 class="name">{{personne[0]?.lastname  }}</h2>
              <p class="contact-details" >
                  <span class="email">{{personne[0]?.email  }}</span>
                  <br>
                  <span class="phone">{{personne[0]?.phone  }}</span>
                  <br>
                  <span class="address">{{personne[0]?.adress  }}</span>
              </p>




          </div>
      </div>
      <div id="objective">
          <h3>Objective</h3>
          <p>
            {{personne[0]?.objectif  }}          </p>
      </div>
      <div id="education">
          <h3>Education</h3>
          <table>
              <tr class="school-1">
                  <td rowspan="2">2002 - 2015</td>
                  <td><b>School-1</b>: ABC School (Standard KG-VIII)</td>
              </tr>
              <tr class="school-2">
                  <td><b>School-2</b>: XYZ School (Standard IX-X)</td>
              </tr>

              <tr class="school-1">
                  <td rowspan="2">2012 - 2014</td>
                  <td><b>ACCESS</b>: English Micro Scholarship Program by US Consolate</td>
              </tr>
              <tr class="school-2">
                  <td><b>The Professional's Academy</b>: Web Designing (HTML, CSS, JS, Bootstrap)</td>
              </tr>

              <tr>
                  <td style="width: 120px; color: gray;">2015 - 2017</td>
                  <td><b>Intermediate</b>: Board of Intermediate Karachi - Private</td>
              </tr>
          </table>
      </div>



<div id="work">
        <h3 >
         Experience
        </h3>
        <table *ngFor="let experience of personne[0]?.experience" >
          <tr class="work-1">
            <td rowspan="2" > {{experience?.title}}</td>
              <td mr-1 >{{experience.startDate | date: 'dd/MM/yyyy'}} <br>{{experience.endDate | date: 'dd/MM/yyyy'}}</td>
              <br>
              <td ><b>{{experience.place}}</b> : {{experience.description}}</td>
          </tr>

        </table>


      </div>






      <div id="bio-data">
          <h3>Bio-Data</h3>
          <table>
              <tr>
                  <td>F'Name:</td>
                  <td><b>Naseem Akhter</b></td>
              </tr>
              <tr>
                  <td>Date of Birth:</td>
                  <td><b>25<sup>th</sup> November 1996</b></td>
              </tr>
              <tr>
                  <td>CNIC:</td>
                  <td><b>42401-XXXXXXX-7</b></td>
              </tr>
              <tr>
                  <td>Religion:</td>
                  <td><b>Islam</b></td>
              </tr>
              <tr>
                  <td>Nationality:</td>
                  <td><b>Pakistani</b></td>
              </tr>
              <tr>
                  <td>Marital Status:</td>
                  <td><b>Unmarried</b></td>
              </tr>
          </table>
      </div>
  </div>

<button class="btn btn-primary" (click)="download()">Download</button>
















