

    <div class="card" id="page" #dataToExport>
      <div class="photo-and-name">
          <img src="profile.png" class="photo" alt="Profile Picture">
          <div class="contact-info-box  "  >
              <h1 class="name">{{personne[0]?.firstname  }} </h1>
              <h2 class="name">{{personne[0]?.lastname  }}</h2>
              <p class="contact-details" >
                  <span class="email">{{personne[0]?.email  }}</span>
                  <br>
                  <span class="phone">{{personne[0]?.phone  }}</span>
                  <br>
                  <span class="address">{{personne[0]?.adress  }}</span>
              </p>




          </div>
      </div>
      <div id="objective">
          <h3>Objective</h3>
          <p>
            {{personne[0]?.objectif  }}          </p>
      </div>


      education
      <div id="education">
          <h3>Education</h3>
          <table   *ngFor="let education of personne[0]?.education">
              <tr>
                  <td>{{education.startDate | date: 'dd/MM/yyyy'}} >>> {{education.endDate | date: 'dd/MM/yyyy'}}</td>
                  <td><b>{{education?.title}}</b></td>
                  <td><b>{{education.university}}</b></td>
                  <td><b>{{education.departement}}</b></td>
                  <td> <b> {{education.mention}} </b>
                  </td>
              </tr>

          </table>
      </div>






<div id="work">
        <h3 >
         Experience
        </h3>
        <table *ngFor="let experience of personne[0]?.experience" >
          <tr class="work-1">
            <td rowspan="2" > {{experience?.title}}</td>
              <td mr-1 >{{experience.startDate | date: 'dd/MM/yyyy'}} <br>{{experience.endDate | date: 'dd/MM/yyyy'}}</td>
              <br>
              <td ><b>{{experience.place}}</b> : {{experience.description}}</td>
          </tr>

        </table>


      </div>

      <div id="work">
        <h3>Projects</h3>
        <table *ngFor="let project of personne[0]?.project">
          <tr class="work-1">
            <td rowspan="2" > {{project?.title}}</td>
              <td mr-1 >{{project.date | date: 'dd/MM/yyyy'}}</td>
              <br>
              <td ><b>{{project.description}}</b> : {{project.link}}</td>
          </tr>


        </table>

      </div>

      <div id="skills">
          <h3>Skills</h3>
          <table *ngFor="let skill of personne[0]?.skill">
              <tr>
                  <td>{{skill?.name}}</td>
                  <td>{{skill?.level}}</td>
              </tr>
          </table>
  </div>

<button class="btn btn-primary" (click)="download()">Download</button>
















